body {
    margin: 0;
}
.input-field {
    display: flex;
    align-items: center;
    .box {
        padding: 5px;
        height: 48px;
        width: 48px;
        line-height: 48px;
        border-radius: 4px;
        text-align: center;
    }
    .button {
        border: 1px solid #ACD6FF;
        color: #ACD6FF;
        cursor: pointer;
    }
    .input {
        border: 1px solid #bebebe;
        margin: 0 8px;
    }
    .disabled {
        border: 1px solid #bebebe;
        color: #bebebe;
        cursor: not-allowed;
    }
}