body {
    margin: 0;
}
.input-field {
    display: flex;
    padding: 5px;
    align-items: center;
    .button {
        padding: 5px;
        height: 48px;
        width: 48px;
        line-height: 48px;
        border-radius: 4px;
        border: 1px solid #bebebe;
        text-align: center;
    }
}