body {
    margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.flex {
    display: flex;
}
.spacer {
    flex: 1;
}
.title {
    font-weight: bold;
}
.subtitle {
    color: #afafaf;
}
.margin {
    margin: 20px
}
.unassigned {
    margin: 0 20px;
    padding: 20px;
    
    background-color: #effdff;
    border: 1px solid #b6f8ff;
}
.container {
    width: 360px;
    border: 1px solid #bebebe;
    padding-bottom: 20px;
    .room {
        margin: 20px;
        padding-bottom: 20px;
        > div:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    .room:not(:last-child) {
        border-bottom: 1px solid #bebebe;
    }
}
.input-field {
    display: flex;
    align-items: center;
    .box {
        padding: 5px;
        height: 48px;
        width: 48px;
        line-height: 40px;
        border-radius: 4px;
        text-align: center;
    }
    .add {
        line-height: 48px;
    }
    .button {
        border: 1px solid #ACD6FF;
        color: #ACD6FF;
        font-size: 48px;
        cursor: pointer;
    }
    .input {
        border: 1px solid #bebebe;
        margin: 0 8px;
    }
    .disabled {
        border: 1px solid #bebebe;
        color: #bebebe;
        cursor: not-allowed;
    }
}